.todo-list-container {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px 5px 5px 5px;
  width: 60%;
  height: 50px;
  margin: auto;
  background: rgba(75, 167, 243, 0.151);
  box-shadow: 0px 0px 10px rgb(192, 195, 195);
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 15px;
  color: azure;
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
}
i.icon.cog::before {
  margin-right: 10px;
}
.buttons {
  margin-right: -4px;
  height: 100%;
}
.button {
  height: 100%;
}
.complete {
  color: rgba(126, 126, 126, 0.5);
  text-decoration-line: line-through;
}
.positive {
  width: 100px;
}
.negative {
  width: 100px;
}
.more-options {
  background-color: rgba(240, 255, 255, 0);
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.more-options:hover {
  animation: rotation 500ms;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
i.icon {
  margin-right: 0;
  padding: 0;
}
.close-button {
  background-color: rgba(240, 255, 255, 0);
  border: none;
  font-weight: 700;
  font-size: 1.4rem;
  color: rgb(218, 250, 250);
  text-shadow: 0px 0px 4px black;
  cursor: pointer;
  width: 40px;
}
.close-button:hover {
  color: rgb(1, 194, 207);

  text-shadow: 0px 0px 5px rgb(0, 0, 0);
}
.edit-button {
  cursor: pointer;
  border: none;
  background: none;
  color: rgb(218, 250, 250);
  text-shadow: 0px 0px 4px black;
  font-size: 1.3rem;
}
.edit-button:hover {
  color: rgb(1, 194, 207);

  text-shadow: 0px 0px 5px rgb(0, 0, 0);
}
